body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.card { 
  background-image: 
    linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('pizza.png');
  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /*이미지 꽉 차게*/

  box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.4); /*가로 세로 블러정도 퍼지는정도 색깔*/

  color: #ffffff;
  line-height: 1.7;
  margin: 40px auto;
  padding: 40px;
  width: 480px;
}

.title {
  font-size: 20px;
  margin: 8px 0;
}

.price {
  font-size: 16px;
  font-weight: 800;
  margin: 8px 0;
}

.description {
  color: #a7a7a7;
  font-size: 10px;
  margin: 8px 0;
}

.buttons {
  margin: 16px 0;
}

.order {
  background-color: #f13030;
  color: #ffffff;
  font-weight: 800;
  padding: 6px 16px;
  text-decoration: none;
  opacity: 0.5; /*1에 가까울 수록 불투명 - 요소 전체 불투명*/
}

.note {
  color: #676767;
  font-size: 7px;
  line-height: 10px
}

/*background-image, background-position, background-repeat, background-size, 
linear-gradient, box-shadow, opacity*/