*{
  box-sizing: border-box;
  font-family: "Pretendard";
}

body{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 70px;
}

header{
  display: flex;
}

.title{
  font-size: 40px;
  font-weight: 700;
  color: #464E5E;
  margin-right: 108px;
}

header a {
  margin-top: 5px;
}

header img{
  background-color: #F5F7FB;
  padding: 12px;
  border-radius: 24px;
}

header img:hover{
  background-color: #EDF0F5;
}

header img:focus{
  background-color: #DEE4EE;
}

.main1{
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.e_i, .s_n, .t_f, .j_p{
  display: flex;
}

.e, .i, .s, .n, .t, .f, .j, .p{
  width: 200px;
  height: 76px;
  border: 2px solid #E7EBF2;
  border-radius: 16px;
  margin: 7px;
  display:flex;
  align-items: center;
  justify-content:space-between;
  font-size: 40px;
  color: #464E5E;
  padding: 14px 40px;
}

.e:hover, .i:hover, .s:hover, .n:hover, .t:hover, .f:hover, .j:hover, .p:hover{
  background-color: #E7EBF2;
}

.i{
  background-color: #464E5E;
  color: white;
}

span{
  font-size: 24px;
  color: #8892A6;
}

.second{
  margin-top: 40px;
}

.main2{
  display: flex;
}

.main2_title{
  color: #464E5E;
  font-size: 24px;
}

.main2 img{
  background-color: #F5F7FB;
  padding: 8px;
  margin-left: 10px;
  border-radius: 8px;
}

.color_select{
  position: relative;
}

.color_name{
  width: 416px;
  height: 93px;
  border: 2px solid #E7EBF2;
  border-radius: 16px;
  font-size: 24px;
  margin-top: 20px;
  padding: 32px;
  color: #8892A6;
}

.color_view{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 47px;
  right: 40px;
  border-radius: 8px;
}

.register{
  background-color: #464E5E;
  color:white;
  border: none;
  width: 416px;
  height: 72px;
  margin-top: 40px;
  border-radius: 16px;
  font-size: 24px;
}